* {
  margin: 0;
  padding: 0;
}
.container {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 50px;
}
.content {
  background-color: black;
  width: 40%;
  color: white;
}
.item-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.item-content button {
  width: 100%;
  padding: 30px;
  border-radius: 50%;
}
.item-button {
  width: 15%;
}
